@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    margin: 0;
    /* overflow: hidden; */
}

.box{
    background-color: peru;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);

}
.box.show{
    transform: translateX(0);
}