*{
    box-sizing: border-box;

}


body{
    font-family: Helvetica, sans-serif, Arial;
    overflow-x: hidden;
    background-color: #333;
    color: #222;

}

.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;


}
.container.show-nav{
    transform: rotate(-20deg);

}

.container.show-nav .circle{
    transform: rotate(-75deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;

}



.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    position: relative;

    border-radius: 50%;
    transition: transform 0.5s linear;

}


.circle button{
    position: absolute;
    top: 50%;

    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 22px;
    color: #fff;
     
}

.circle button:focus{
    outline: none;

}


.circle button#open{
    left: 60%;
    
}
.circle button#close{
    left: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
    
}


.container.show-nav + nav li{
    transform:translateX(0);
    transition-delay: 0.5s;

}

nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul{
    list-style-type: none;
    padding-left: 30px;

}

nav ul li{
    text-transform: capitalize;
    color:#fff;
    margin: 40px auto;
    transform: translateX(-200%);
    transition: transform 0.4s ease-in;
}

nav ul li i{
    font-size: 20px;
    margin-right: 12px;

}

nav ul li + li {
    margin-left:15px;
}

nav ul li + li + li {
    margin-left: 30px;
}


.content{

    max-width: 100vh;
    margin: 50px auto;

}

.content img{
    max-width: 100%;
}


.conent small{
    color: #555;
    font-style: italic;

}

.conent p{
    color: #555;
    line-height: 1.5;
}













